<div class="row" style="margin-left: 20px;">
  {% for content in entry.contents %}
    <div class="col-md-6">
      <h6 style="color: var(--global-theme-color);">{{ content.title }}</h6>
      {% if content.items %}
        <div class="font-weight-light">
          {% for subitem in content.items %}
            <div style="margin-bottom: 0.25rem;">{{ subitem }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
